<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To-Do List</title>
  </head>
  <body>
    <form class="" action="index.html" method="post">
      <input type="text" name="" value="">
      <button type="submit" name="button">Add todo</button>
    </form>
    <section>
      <button type="submit" name="button">Mark complete</button>
      <span>sumsum</span>
    </section>
    <section>
      <h2>Completed tasks</h2>
      <p>dondondon</p>
    </section>

  </body>
</html>
