<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To-Do List</title>
  </head>
  <body>
    <form class="" action="/todo" method="post">
      <input type="text" name="toDoItem" value="">
      <button type="submit" name="button">Add todo</button>
    </form>
    <section>
      <form action="/done" method="post">
        {{#todo}}
          <p>
            <button type="submit" name="button">Mark complete</button>
            <span>{{.}}</span>
          </p>
        {{/todo}}
      </form>
    </section>
    <section>
      <h2>Completed tasks</h2>

        <p></p>

    </section>

  </body>
</html>
